.my-element{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    gap: 15px;
    /* justify-content: flex-start; */

}

#buttonsContainer{
    width: 300px;
    padding-right: 15px;   
    justify-content: flex-start;
}
.images{
    justify-content: flex-end;
}
#left{
    width:auto;
}