.my-element {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
}

#buttonsContainer {
    width: 300px;
    height: 100vh;
    padding-right: 15px;
    justify-content: center;
    overflow-y: scroll;
}

#buttonsContainer span img {
    height: 50px;
    width: 50px;
    vertical-align: middle;
}

.images {
    width: 600px;
    justify-content: center;
}

#buttonsContainer button {
    width: 235px;
    height: 50px;
    border-style: hidden;
    background-color: white;
}

#buttonsContainer button:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

p {
    text-align: center;
}